@page
@namespace ServerManager.Pages
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@* @model ServerManager.Pages.IndexModel *@

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Upload successful</title>
        <link href="~/css/index.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Upload Successful</h1>
        <p><a href="/">Click here</a> to upload another .apsimx file.</p>
    </body>
</html>
