@page
@namespace ServerManager.Pages
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model ServerManager.Pages.UploadMetModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Update .apsimx file</title>
        <link href="~/css/index.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Update .apsimx file</h1>
        <form enctype="multipart/form-data" method="post">
            <table id="inputs">
                <tr>
                    <td>
                        <label asp-for="UserInputs.UploadedFile"></label>
                    </td>
                    <td>
                        <input asp-for="UserInputs.UploadedFile">
                    </td>
                    <td>
                        <span class="error" asp-validation-for="UserInputs.UploadedFile"></span>
                    </td>
                </tr>
            </table>
            <input type="submit" value="submit">
        </form>
    </body>
</html>
